body {
    font-family: Monospace, Arial, sans-serif, system-ui;
    background-color: #FFFF00;
    color: #ffffff;
  }
     
  h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    color: #000000;
  }

  #main {
    background-color: #ffffff;
    text-align: center;
    width: 400px;
    height: 750px;
    position: absolute;
    inset: 0;
    margin: 110px auto;
    border: 3px solid #000000;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
        0 10px 10px rgba(0,0,0,0.22);
  }

  #guess-input {
    display: block;
    font-weight: bold;
    border-radius: 3px;
    margin: 35px auto 20px;
    padding: 20px;
    font-size: 18px;
    width: 250px;
    border: 3px solid #000000;
  }
     
  #guess-button {
    font-family: Monospace, Arial, sans-serif, system-ui;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 25px;
    background-color: #FF0000;
    color: #fff;
    border: 3px solid #000000;
    border-radius: 3px;
    cursor: pointer;
  }
     
  button:active {
      transform: scale(0.95);
  }
     
  .letter {
      color: #000000;
      font-size: 25px;
      font-weight: bold;
      border: 3px solid #000000;
      border-radius: 3px;
      padding: 10px;
      margin: 5px;
      min-width: 20px;
      text-align: center;
      display: inline-block;
  }
     
  .row{
      margin-bottom: 10px;
      margin-top: 20px;
      text-align: center;
  }
     
  .input-area{
      margin: 30px;
  }

  [data-emoji] {
    font-style: normal;
    font-weight: normal;
  }
  [data-emoji]:before {
    content: attr(data-emoji);
    margin-right: .125em;
  }

  .resetButton {
    background-color: darkorange;
    font-family: Monospace, Arial, sans-serif, system-ui;
    font-weight: bold;
    margin: 5px auto;
    font-size: 18px;
    border-radius: 3px;
    border: 3px solid #000000;
    cursor: pointer;
  }